<web-app>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.artify.CheckoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
</web-app>
