body {
      margin: 0;
      font-family: 'Segoe UI', Arial, sans-serif;
      background-color: #f9f9f9;
      color: #333;
    }

    header {
      background-color: #f9efe6;
      color: #fff;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header h1 {
      margin: 0;
      font-size: 1.8rem;
      letter-spacing: 2px;
    }

    nav a {
      color: black;
      text-decoration: none;
      margin-left: 30px;
      font-family: Abril Fatface;
      transition: transform 0.1s ease-in-out;
      display: inline-block;
    }

    nav a:hover {
      transform: scale(1.15);
    }

    .hero {
      text-align: center;
      padding: 100px 20px;
      background-color: #f9efe6;
    }

    .hero h2 {
      font-size: 7rem;
      font-family: Monsieur La Doulaise;
    }

    .hero p {
      font-size: 1.2rem;
      color: #444;
      max-width: 600px;
      margin: 0 auto 30px;
      font-family: "Abhaya Libre";
    }

    .hero a {
      text-decoration: none;
      background-color: #222;
      color: #fff;
      padding: 12px 25px;
      border-radius: 5px;
      font-weight: bold;
    }

    .hero a:hover {
      background-color: #ffce54;
      color: #222;
    }

    footer {
      text-align: center;
      padding: 15px;
      margin-top: 60px;
      font-size: 0.9rem;
    }